body {
    background-color: darkgray;
    margin-bottom: 30px;
}

header {
    align-content: center;
    color: white;
    text-align: center;
    font-size: 30px;
    text-decoration-color: black;
}

#buttons {
    align-items: center,
}

#buttons #ajax {
    height: 75px;
    width: 100px;
    color: white;
    background-color: black;
    border-radius: 20%;
    align-content: center;
    margin-right: 50px;
    margin-top: 30px;

}

#buttons #load {
    height: 75px;
    width: 100px;
    color: white;
    background-color: black;
    border-radius: 20%;
    margin-right: 50px;
}

#buttons #save {
    height: 75px;
    width: 100px;
    color: white;
    background-color: black;
    border-radius: 20%;
    margin-right: 50px;
}

#buttons #clear {
    height: 75px;
    width: 100px;
    color: white;
    background-color: black;
    border-radius: 20%;
}

p {
    text-align: center;
    font-size: 25px;
}



#movies img {
    padding: 10px 10px 10px 10px;
    margin-left: 20px;
    margin-right: 300px;
    background-color: black;
    align-content: center;
}

#movies iframe {
   
    width: 600px;
    height: 300px;
    frameborder="0";
    

}


li  {
    color: white;
    font-size: 25px;
    background: grey;
    
}

footer {
    position: fixed;
    bottom: 0;
    margin-bottom: 0px;
    height: 0px;
    width: 100%;
    padding: 20px;
    text-align: center;
}