body {
    background-color: darkgray;
    margin-bottom: 30px;
}

header {
    align-content: center;
    color: black;
    text-align: center;
    font-size: 30px;
    text-decoration-color: black;
}

p {
    text-align: center;
    font-size: 25px;
}

#movies h1 {
    margin-left: 20px;
    color: azure;
    font-family: Georgia, "Times New Roman", serif;
}

#movies h2 {
    margin-left: 20px;
    color: azure;
    font-style: italic;
}

#movies img {
    padding: 10px 10px 10px 10px;
    margin-left: 20px;
    background-color: black;
    align-content: center;
}

#movies iframe {
    
    float: none;
    padding: 10px 10px 10px 10px;
    background-color: black;
    
}

footer {
    position: fixed;
    bottom: 0;
    margin-bottom: 0px;
    height: 0px;
    width: 100%;
    padding: 20px;
    text-align: center;
}